.background {
  background-color: #a5a5a5;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  color: black;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
}

.background table {
  color: black;
  width: 50%;
  font-size: 12px;
  margin: 25px auto;
}

.training-container {
  /* display: block !important; */
  /* justify-content: center; */
  /* width: 50% !important; */
  /* left: 50vh !important; */
}

.middle-date-button {
  margin-left: 5px;
  margin-right: 5px;
}

.day-switch-buttons {
  /*display: inline-flex !important;*/
  /*margin: auto !important;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

ul,
li {
  margin: 0;
  padding: 0;
}

.change-day-button {
  /*background-color: #302e39 !important;*/
}

.nav-items-padding {
  padding-left: 2px;
  padding-right: 2px;
}

.change-day-button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.center-exercise-card {
  /* display: flex !important; */
  /* justify-content: center; */
}

.exerciseCard {
  padding: 10px;
  background-color: white;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 450px;
  margin: 10px;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}

.set-modal {
  background-color: #343a40;
}

.add-set-button {
  /* background-color: #242424b7 !important; */
}

.add-set-button:focus {
  /* outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; */
}

.form {
  background: #6c757d;
}

.remove-button {
  /* background-color: black;
  color: white; */
  /* font-size: 25px; */
  /* display: inline-flex; */
  /* border: none; */
}

.remove-button:focus {
  /* background-color: #343a40;
  border: 0;
  outline: 0;
  transform: scale(0.9); */
}

.remove-button:active {
  /* border: 0; */
}

ul {
  list-style-type: none;
}

.remove-set {
  background-color: #302e39;
}

.add-set-weight {
  /* width: 115% !important; */
}

.add-set-reps {
  /* width: 115% !important; */
  margin-left: 5px;
}

.confirm-button {
  /* background-color: #3a3a3a !important; */
  /* margin-right: 1px !important; */
  /* margin-left: 1px; */
}

.cancel-button {
  /* background-color: #3d3d3f !important; */
  /* text-align: center !important; */
  /* margin-left: 10px; */
}

.cancel-confirm-group {
  /* margin-left: 10px; */
}

.new-exercise-form {
  display: flex !important;
  justify-content: center;
  /* top: 0; */
  /* bottom: 0; */
}

.new-exercise-button {
  /*background-color: #414141 !important;*/
  margin: 0 auto !important;
  display: block !important;
}

.add-exercise-button {
  /*background-color: #31313183 !important;*/
  /* left: 100vh !important; */
}

.add-exercise-button:focus {
  /*box-shadow: none !important;*/
}

.add-exercise-button:hover {
  /*transform: scale(1.02);*/
  /*border-color: white;*/
}

.medium-exercise-card {
  width: 28vh;
  background-color: #bec5cc;
  text-align: center;
  border: 1px;
}

.smaller-exercise-card {
  /* background-color: #343a40; */
}

body {
  height: 100%;
}

.logout-button {
  position: fixed !important;
  right: 0;
  margin-right: 5px;
}

.admin-button {
  position: fixed !important;
  left: 0;
  margin-left: 5px;
}

@media (max-width: 500px) {
  .admin-button {
    position: relative !important;
    margin-left: 1px;
    margin-top: 5px;
  }
  .logout-button {
    position: relative !important;
    margin-top: 5px;
    margin-left: 3px;
  }
}

.center-buttons {
  margin: 0 auto !important;
}

.day-switch-buttons {
  position: relative !important;
  /* margin: auto !important; */
}

.nav-bar {
  position: relative !important;
}

.nav-wrapper {
  justify-content: center !important;
  text-align: center;
  margin: auto !important;
}

#search-div{
  width: 50%;
  margin: auto;
  padding-top: 10px;  
}

.search-product-button-div{
  margin-left: 5px;
}
/* 

.search-product-button-div:focus, .search-product-button-div:active {
  transform: scale(0.95);
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
} */

.newProduct{
  margin: 0 auto;
}

.paging{
  align-items: center;
  display: flex;
}

.meal{
  border-color: white;
}

#mealcard{
  background-color: black;
}

.makeStyles-root-2{
  position: relative;
  margin: 0 auto;
}